<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>{{title}}</title>
		<meta name="description" content="{{description}}">
		<meta name="author" content="{{author}}">

		{{#styles}}
			{{#inline?}}<style>{{{content}}}</style>{{/inline?}}
			{{^inline?}}<link rel="stylesheet" href="{{content}}">{{/inline?}}
		{{/styles}}
	</head>

	<body>
		<div id="container">
			{{{content}}}
		</div>

		{{#scripts}}
			{{#inline?}}<script>{{{content}}}</script>{{/inline?}}
			{{^inline?}}<script src="{{content}}"></script>{{/inline?}}
		{{/scripts}}
	</body>
</html>